<%- include('../../components/head', {
  siteName: 'Diff Estudio',
  title: 'Política de privacidad',
  description: 'DIFF Estudio ofrece trabajos de dirección creativa, branding, diseño gráfico y diseño web. Trabajamos desde la ciudad de Valladolid para todo el mundo.',
  slug: '/política-de-privacidad',
  locale: 'es',
  og: {
    type: 'website'
  },
  twitter: {
    siteAccount: '@diffestudio',
    author: '@jaimerodman',
    cardType: 'summary_large_image',
  }
}); %>

<%- include('../../components/navbar'); %>

<!-- Content -->
<div class="diff-container">
  <div class="diff-content">
    <article>
      <h1>Política de privacidad</h1>
      <p>DIFF Estudio Creativo informa a los usuarios del sitio web sobre su política respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través de su sitio web. En este sentido, DIFF Estudio Creativo garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD. El uso de esta web implica la aceptación de esta política de privacidad.</p>
      <h2>Recogida, finalidad y tratamientos de datos</h2>
      <p>DIFF Estudio Creativo tiene el deber de informar a los usuarios de su sitio web acerca de la recogida de datos de carácter personal que pueden llevarse a cabo, bien sea mediante el envío de correo electrónico o al cumplimentar los formularios incluidos en el sitio web. En este sentido, DIFF Estudio Creativo, y en su representación Jaime Rodríguez Matínez con DNI 09805822-W, será considerado como responsable de los datos recabados mediante los medios anteriormente descritos. A su vez DIFF Estudio Creativo informa a los usuarios de que la finalidad del tratamiento de los datos recabados contempla: la atención de solicitudes realizadas por los usuarios, la inclusión en la agenda de contactos, la prestación de servicios, la gestión de la relación comercial y otras finalidades tales como la publicitación de productos y/o promociones. Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales. Todos los datos personales, que sean recogidos a través del sitio web de DIFF Estudio Creativo, y por tanto tenga la consideración de tratamiento de datos de carácter personal, serán incorporados en el fichero declarado ante la Agencia Española de Protección de Datos por DIFF Estudio Creativo con código de inscripción 2171300505.</p>
      <h2>Comunicación de información a terceros</h2>
      <p>DIFF Estudio Creativo informa a los usuarios de que sus datos personales no serán cedidos a terceras
      organizaciones, con la salvedad de que dicha cesión de datos este amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando DIFF Estudio Creativo disponga del consentimiento expreso del usuario.</p>
      <h2>Derechos de los usuarios</h2>
      <p>La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal concede a los interesados la posibilidad de ejercer una serie de derechos relacionados con el tratamiento de sus datos personales. En tanto en cuanto los datos del usuario son objeto de tratamiento por parte de DIFF Estudio Creativo. Los usuarios podrán ejercer los derechos de acceso, rectificación, cancelación y oposición de acuerdo con lo previsto en la normativa legal vigente en materia de protección de datos personales. Para hacer uso del ejercicio de estos derechos, el usuario deberá dirigirse mediante comunicación escrita, aportando documentación que acredite su identidad (DNI o pasaporte), a la siguiente dirección: Jaime Rodríguez Martínez, Calle: Alberto Fernández No 18 1oA, Código postal: 47010, Ciudad: Valladolid, Provincia: Valladolid o a la dirección que sea sustituida en el Registro General de Protección de Datos. Dicha comunicación deberá reflejar la siguiente información: nombre y apellidos del usuario, petición de solicitud y domicilio y datos acreditativos. El ejercicio de derechos deberá ser realizado por el propio usuario. No obstante, podrán ser ejecutados por una persona autorizada como representante legal del autorizado. En tal caso, se deberá aportar la documentación que acredite esta representación del interesado.</p>
    </article>
  </div>
</div>
<%- include('../../components/footer'); %>
<%- include('../../components/menu'); %>
