<!-- Pie de página -->
<div class="diff-container">
  <footer>
    <h2 class="sr-only">Contacta con DIFF Estudio</h2>
    <div class="diff-footer">
      <div class="diff-footer-element diff-footer-element-left">
        <a href="mailto:info@diffestudio.com?Subject=Hola%20DIFF%20Estudio">info@diffestudio.com</a>
      </div>
      <div class="diff-footer-element">
        644 255 690
      </div>
      <div class="diff-footer-element diff-footer-element-right">
        &copy;DIFF 2017
      </div>
    </div>
  </footer>
</div>
