    <!-- Navegación -->
    <button data-scroll-button data-direction class="diff-scroll-button">Scroll</button>
    <div data-menu class="diff-menu">
      <div class="diff-menu-inner">
        <div class="diff-menu-close">
          <button data-menu-close class="diff-menu-close-button">Cerrar menú</button>
        </div>
        <nav class="diff-menu-nav">
          <h2 class="sr-only">Menú de navegación</h2>
          <ul class="diff-menu-nav-list">
            <li class="diff-menu-nav-list-item">
              <a class="diff-menu-nav-list-item-link" href="{#baseUrl}/" title="Volver a la portada">
                Inicio
              </a>
            </li>
            <li class="diff-menu-nav-list-item">
              <a class="diff-menu-nav-list-item-link" href="{#baseUrl}/trabajos" title="Trabajos">
                Trabajos
              </a>
            </li>
            <li class="diff-menu-nav-list-item">
              <a class="diff-menu-nav-list-item-link" href="{#baseUrl}/servicios" title="Servicios">
                Servicios
              </a>
            </li>
            <li class="diff-menu-nav-list-item">
              <a class="diff-menu-nav-list-item-link" href="{#baseUrl}/blog" title="Blog">
                Blog
              </a>
            </li>
            <li class="diff-menu-nav-list-item">
              <a class="diff-menu-nav-list-item-link" href="{#baseUrl}/contacto" title="Contacto">
                Contacto
              </a>
            </li>
          </ul>
        </nav>
        <nav class="diff-menu-social">
          <h2 class="sr-only">Enlaces a redes sociales</h2>
          <ul class="diff-menu-social-list">
            <li class="diff-menu-social-list-item">
              <a  class="diff-menu-social-list-item-link" href="https://twitter.com/" title="Cuenta de Twitter de DIFF Estudio Creativo">
                Twitter
              </a>
            </li>
            <li class="diff-menu-social-list-item">
              <a class="diff-menu-social-list-item-link" href="https://spotify.com/" title="Cuenta de Spotify de DIFF Estudio Creativo">
                Spotify
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Scripts -->
    <script src="{#baseUrl}/js/scripts.js"></script>
  </body>
</html>
