<div data-navbar class="diff-nav">
  <div class="diff-nav-brand">
    <div class="diff-nav-brand-column diff-nav-brand-column-title">
      DIFF
    </div>
    <div class="diff-nav-brand-column">
      <div class="diff-nav-brand-row">
        Estudio
      </div>
      <div class="diff-nav-brand-row">
        Creativo
      </div>
    </div>
  </div>
  <div class="diff-nav-buttons">
    <button data-menu-open>Abrir menú</button>
  </div>
</div>
