<%- include('../../components/head', {
  siteName: 'Diff Estudio',
  title: 'Servicios',
  description: 'DIFF Estudio ofrece trabajos de dirección creativa, branding, diseño gráfico y diseño web. Trabajamos desde la ciudad de Valladolid para todo el mundo.',
  slug: '/servicios',
  locale: 'es',
  images: [{
    location: '',
    title: ''
  }]
  og: {
    type: 'website'
  },
  twitter: {
    siteAccount: '@diffestudio',
    author: '@jaimerodman',
    cardType: 'summary_large_image',
  }
}); %>

<%- include('../../components/navbar'); %>

<!-- Content -->
<div class="diff-container">
  <section>
    <div class="diff-content">
      <header>
        <h1 class="sr-only">Servicios</h1>
        <p class="diff-text-lead">DIFF Estudio ofrece trabajos multidisciplinares en el ámbito del diseño y la dirección creativa. Trabajamos para crear herramientas útiles, personales y diferenciadoras, que permitan versatilidad en el día a día y una total adaptación al mundo digital. Partimos de la identidad como eje fundamental de aquello que se quiere transmitir, eligiendo lo imprescindible a partir de todo lo posible. Realizamos trabajos de dirección creativa, branding, diseño gráfico y diseño web, pensando siempre en las necesidades de nuestros clientes.</p>
      </header>
      <div class="">
        <div class="">Dirección creativa</div>
        <div class="">Branding</div>
        <div class="">Diseño gráfico</div>
        <div class="">Web</div>
      </div>
      <article>
        <h2>Dirección creativa</h2>
        <p>Marcamos el rumbo</p>
        <p>Decidimos cómo se debe contar la historia de nuestros clientes, atendiendo a criterios de identidad y sabiendo quiénes son y, sobre todo, cuál es su diferencia. Usamos la direccion creativa como herramienta fundamental para crear mundos únicos y prácticos. De ese modo diseñamos desde campañas publicitarias hasta bolígrafos corporativos.</p>
      </article>
      <article>
        <h2>Branding</h2>
        <p>Quién es quién</p>
        <p>Creamos identidades haciendo visible aquello que ya existe. Nuestro proceso de branding es una exploración, una investigación profunda sobre la esencia del trabajo de nuestros clientes. Un proceso que nos lleva al detalle. Nadie es como nadie. Por eso creamos marcas hablantes, que pueden dialogar con su público en cualquier ámbito, ya sea en una cuña de radio o con una tarjeta de felicitación.</p>
      </article>
      <article>
        <h2>Diseño gráfico</h2>
        <p>Todo lo que necesites.</p>
        <p>Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo. Todo.</p>
      </article>
      <article>
        <h2>Diseño web</h2>
        <p>Discúlpanos</p>
        <p>En DIFF solo diseñamos un tipo de página web. Sí, solo uno. Solo páginas web responsive, que adaptan su comportamiento, sea cuál sea su contenido, a cualquier dispositivo: smartphone, tablet u ordenador de sobremesa.</p>
      </article>
    </div>
  </section>
</div>
<%- include('../../components/footer'); %>
<%- include('../../components/menu'); %>
